go 1.22.0

replace go.opentelemetry.io/proto/otlp => github.com/tailscale/opentelemetry-proto-go/otlp v1.1.0-ts-fix

use (
	.
	./exporters/otlp/otlpmetric/otlpmetrichttp
	./exporters/otlp/otlptrace
	./exporters/otlp/otlptrace/otlptracehttp
	./internal/tools
	./metric
	./schema
	./sdk
	./sdk/metric
	./trace
)
